#receita-container {
  display: flex;
  flex-direction: column; /* coloca título em cima */
  align-items: center;    /* centraliza tudo na horizontal */
  margin-top: 20px;
  color: #6B2C1C;
  font-family: 'Courier New', monospace;
}

#receita-container h1 {
  margin-bottom: 20px;
  color: #6B2C1C;
  font-family: 'Porter Sans Block', sans-serif;
}


#receita-container img {
  width: 300px;
  border-radius: 10px;
  color: #6B2C1C;
}



