body {
  background-color: #DAC4BB;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.title-container {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #F9EFE3;
  border: 1px solid #000;
  border-radius: 23px;
  padding: 10px 20px;
}

.title {
  font-family: 'Porter Sans Block', sans-serif;
  font-size: 20px;
  line-height: 1.2;
  color: #6B2C1C;
}

.logo {
  width: 80px;
  height: 80px;
}

.search-container {
  display: flex;
  align-items: center;
  border: 1px solid #924727;
  border-radius: 8px;
  background-color: #F9EFE3;
  overflow: hidden;
}

#search-bar {
  width: 600px;
  height: 60px;
  border: none;
  outline: none;
  padding: 0 10px;
  font-size: 16px;
  background-color: #F9EFE3;
}

.pesquisar {
  background-color: #924727;
  color: white;
  border: none;
  padding: 0 20px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  width: 153px;
height: 60px;
}

.input-icon:hover {
  background-color: #6B2C1C;
}

#menu-container {
    width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.menu {
  display: flex;
  gap: 30px;
  padding: 10px 0;
  border-top: 1px solid #924727;
  border-bottom: 1px solid #924727;
}

.menu-btn {
  background: none;
  border: 10px solid transparent;
  font-size: 20px;
  font-weight: bold;
  color: #924727;
  cursor: pointer;
  padding: 6px 14px;
  border-radius: 20px;
  transition: all 0.2s ease;
}

.menu-btn:hover {
  background-color: #924727;
  color: white;
}

.menu-btn.active {
  background-color: #924727;
  color: white;
  border: 1px solid #6B2C1C;
}

/* Container das receitas */
.conteudo {
  padding: 30px;
  text-align: center;
}

.titulo-populares {
  font-size: 28px;
  color: #6B2C1C;
  margin-bottom: 30px;
}

/* Cards lado a lado */
.container-receitas {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

/* Card de receita */
.card {
  background: #f6e5de;
  border-radius: 12px;
  padding: 12px;
  text-align: center;
  width: 250px;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.05);
}

/* Imagens do card */
.card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 10px;
}

.card p {
  margin-top: 10px;
  font-weight: bold;
  font-size: 18px;
  color: #4b2e2b;
}


